.driver-popover.driverjs-theme {
  background-color: #0a293a;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text,
.driver-popover.driverjs-theme .driver-popover-close-btn {
  color: #ffffffeb;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 1.25rem;
}

.driver-popover.driverjs-theme .driver-popover-description {
  font-size: 0.875rem;
}

.driver-popover.driverjs-theme .driver-popover-prev-btn,
.driver-popover.driverjs-theme .driver-popover-next-btn {
  font-size: 0.875rem;
  color: #ffffffeb;
  background-color: #0a293a;
  text-shadow: none;
  border-color: #9ec8b955;
}

.driver-popover.driverjs-theme .driver-popover-prev-btn:hover,
.driver-popover.driverjs-theme .driver-popover-next-btn:hover {
  border-color: #9ec8b9aa;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #0a293a;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #0a293a;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #0a293a;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #0a293a;
}
